<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VÁGKERESŐ</title>
</head>
<style>
    body {
        background-color: #181a19;
    }
    h1 {
        font-family: bookman old style;
        font-size: 100px;
        margin: 25px;
        text-align: center;
        color: white;
    }
    h2 {
        font-family: bookman old style;
        font-size: 50px;
        margin: 25px;
        text-align: center;
        color: white;
    }
    . logout {

</style>
<script>
    function login() {
        window.open("/accounts/login");
    }
</script>
<body>
    <h1>VÁGKERESŐ</h1>
    <h2>
        {% if user.is_authenticated %}
            {{ user.username }}
        {% else %}
            login()
        {% endif %}
    </h2>
</body>
</html>